<header class="flex justify-between items-center mt-6 w-[1120px]">
    <img class="rounded-full size-12" src="https://media.licdn.com/dms/image/D4E03AQGJqgepvnqIzQ/profile-displayphoto-shrink_200_200/0/1698959280210?e=2147483647&v=beta&t=tSLvjOmCTt74ouFF6iTeksjVe4yqP3tB73-sDR8dBOY" alt="">
    <nav class="flex flex-row gap-x-10 text-[#757575]">
        <a href="/#projects">Projects</a>
        <a href="/#about">About</a>
        <a href="/contact">Contact</a>
    </nav>
</header>