<header class="flex justify-between items-center w-3/4 max-w-[1120px] p-4 sticky top-0 bg-[#ffffffe0] z-40">
    <img class="rounded-full size-12" src="./profile-pic.png" alt="">
    <nav class="flex flex-row gap-x-10 text-[#757575]">
        <a href="/#projects" class="hover:underline">Projects</a>
        <a href="/#about" class="hover:underline">About</a>
    </nav>
</header>