<div class="grid grid-cols-2 md:grid-cols-3 gap-4 mb-3">
    <div class="hover:transform hover:scale-110 transition duration-300 ease-in-out">
        <img class="h-auto max-w-full rounded-lg" src="/MHhome.webp" alt="">
    </div>
    <div class="hover:transform hover:scale-110 transition duration-300 ease-in-out">
        <img class="h-auto max-w-full rounded-lg" src="/MHmonsters.webp" alt="">
    </div>
    <div class="hover:transform hover:scale-110 transition duration-300 ease-in-out">
        <img class="h-auto max-w-full rounded-lg" src="/MHfinal.webp" alt="">
    </div>
</div>