---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import GitHubIcon from '../components/icons/GitHub.astro'
import EmailIcon from '../components/icons/Email.astro'
import ProjectsIcon from '../components/icons/Projects.astro'
import ReactIcon from '../components/icons/React.astro'
import ExpressIcon from '../components/icons/Express.astro'
import SQLIcon from '../components/icons/SQL.astro'
---

<Layout title="Dev Portfolio - Antonio Mangado">
	<main>
		<section class="w-full lg:w-[740px] mt-28">
			<h1 class="mb-8 flex items-center gap-x-4 text-5xl font-bold">Hey, I'm Antonio
				<a href="https://www.linkedin.com/in/antonio-mangado/" 
					target="_blank" 
					rel="noopener" 
					class="flex items-center">
					<Badge>Open to Work</Badge>
				</a>
			</h1>
			<h2 class="text-3xl mb-12 text-pretty"><span class="text-blue-500">Accredited Web developer</span>. Based in Andalusia, Spain. I specialize in Front/Back development. <span class="opacity-60">I also like Gundams</span></h2>
			<ul class="flex flex-row gap-x-5">
				<li class="bg-gray-200 text-[16px] flex flex-row items-center gap-x-2 opacity-60 border-2 rounded-full px-6 py-2"> 
					<a class="flex flex-row gap-x-2 " href="https://www.linkedin.com/in/antonio-mangado/" target="_blank" rel="no-opener"><LinkedInIcon /> LinkedIn</a> 
				</li>
				<li class="bg-gray-200 text-[16px] flex flex-row items-center gap-x-2 opacity-60 border-2 rounded-full px-6 py-2"> 
					<a class="flex flex-row gap-x-2" href="https://github.com/AntonioMangado" target="_blank" rel="no-opener"><GitHubIcon /> GitHub</a> 
				</li>
				<li class="bg-gray-200 text-[16px] flex flex-row items-center gap-x-2 opacity-60 border-2 rounded-full px-6 py-2"> 
					<EmailIcon /> antonio.mangado@gmail.com
				</li>
			</ul>
		</section>

		<section class="w-full lg:w-[740px] mt-28">
			<p class="opacity-60 flex flex-row gap-x-3 items-center"><ProjectsIcon />Latest projects</p>
			<h2 class="text-4xl font-bold mt-8 mb-5">Several Energy - Power Bill Comparator</h2>
			<div class="flex flex-row gap-x-5">
				<ReactIcon class="size-12 mb-5"/>
				<ExpressIcon class="size-12 mb-5"/>
				<SQLIcon class="size-12 mb-5"/>
			</div>
			<p class="text-xl opacity-60 mb-10">Several Energy is a counseling company looking forward to maximising savings from power bills. This app accepts a client's energy data and shows what other companies would charge.</p>
			<img src="/6shots_so.webp" alt="several-app" class="rounded-3xl h-[450px] w-full object-cover">
		</section>
	</main>
</Layout>