---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';

import LinkedInIcon from '../components/icons/LinkedIn.astro'
import GitHubIcon from '../components/icons/GitHub.astro'
import EmailIcon from '../components/icons/Email.astro'
import ProjectsIcon from '../components/icons/Projects.astro'
import AboutMeIcon from '../components/icons/AboutMeIcon.astro'
import SeveralProject from '../components/SeveralProject.astro'
import Fantasea from '../components/Fantasea.astro'
import Quiz from '../components/Quiz.astro';
import MonsterHunter from '../components/MonsterHunter.astro';

---

<Layout title="Dev Portfolio - Antonio Mangado">
	<main class="flex flex-col items-center">
		<section class="w-3/4 sm:w-[500px] md:w-[600px] lg:w-[740px] mt-28">
			<h1 class="mb-8 flex items-center gap-x-4 text-3xl sm:text-4xl md:text-5xl font-bold">Hey, I'm Antonio
				<a href="https://www.linkedin.com/in/antonio-mangado/" 
					target="_blank" 
					rel="noopener" 
					class="flex items-center">
					<Badge>Open to Work</Badge>
				</a>
			</h1>
			<h2 class="text-2xl md:text-3xl mb-12"><span class="text-blue-500">Accredited Web developer</span>. Based in Andalusia, Spain. I specialize in Front/Back development.<span class="opacity-60"> I also make very good salmorejo.</span></h2>
			<ul class="flex flex-col items-center md:flex-row gap-x-5 gap-y-5">
				<li class="bg-gray-200 text-[16px] w-[321px] md:w-auto flex flex-row items-center gap-x-2 opacity-60 border-2 rounded-full px-6 py-2 hover:border-blue-500 transition duration-300"> 
					<a class="flex flex-row gap-x-2 " href="https://www.linkedin.com/in/antonio-mangado/" target="_blank" rel="no-opener"><LinkedInIcon /> LinkedIn</a> 
				</li>
				<li class="bg-gray-200 text-[16px] w-[321px] md:w-auto flex flex-row items-center gap-x-2 opacity-60 border-2 rounded-full px-6 py-2 hover:border-blue-500 transition duration-300"> 
					<a class="flex flex-row gap-x-2" href="https://github.com/AntonioMangado" target="_blank" rel="no-opener"><GitHubIcon /> GitHub</a> 
				</li>
				<li class="bg-gray-200 text-[16px] w-[321px] md:w-auto flex flex-row items-center gap-x-2 opacity-60 border-2 rounded-full px-6 py-2 hover:border-blue-500 transition duration-300"> 
					<EmailIcon /> antonio.mangado@gmail.com
				</li>
			</ul>
		</section>

		<section id="projects" class="w-3/4 sm:w-[500px] md:w-[600px] lg:w-[740px] mt-28">
			<p class="opacity-60 flex flex-row gap-x-3 items-center"><ProjectsIcon />Latest projects</p>
			<SeveralProject />
			<Fantasea />
			<Quiz />
			<MonsterHunter />
		</section>

		<section id="about" class="w-3/4 sm:w-[500px] md:w-[600px] lg:w-[740px] mt-28 mb-16">
			<p class="opacity-60 flex flex-row gap-x-3 items-center"><AboutMeIcon />About me</p>
			<article class="flex flex-col md:flex-row md:items-start gap-x-6 gap-y-6 mt-8">
				<img src="/profile-pic.png" alt="Antonio's profile pic" class="size-72 rounded-lg shadow-sm grayscale-0 mt-2 md:-rotate-90">
				<div class="flex flex-col gap-y-4">
					<h3 class="text-3xl font-bold">I'm Antonio, <span class="text-blue-500">a FullStack developer</span> trying to center stuff on websites from sunny Andalusia.</h3>
					<p class="text-xl opacity-60">I spent 7 fantastic years on education before realising that coding was what fired me up. I took a FullStack bootcamp course with TheBridge (Madrid, Spain), getting proficient across different areas of web development; front-end development with React.js, back-end with Node.js and Express.js, responsive design, cloud deployment, unitary testing.</p>
					<p class="text-xl opacity-60">These days my time is spent coding, polishing, and improving apps that I built while studying. In the meantime, I am also actively looking for jobs and studying to consolidate all the knowledge and skills acquired during the bootcamp.</p>
					<p class="text-xl opacity-60">Away from the keyboard, you'll find me building gundams, reading an unhealthy amount of fantasy books, and petting all the good dogs.</p>
				</div>
			</article>
		</section>
	</main>
</Layout>